input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #4a4a4a inset !important;
}

.Navbar
{
  width: 100%;
  height: 80px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: #1F1F1F;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25)
}

.Logo
{
  width: 68.30px;
  height: 60px;
  left: 20px;
  top: 10px;
  position: absolute;
  transition: all 0.4s ease-out;
}

.Logo:hover
{
  transform: scale(1.1);
  cursor: pointer;
}

.Vector
{
  top: 19px;
  width: 30px;
  height: 30px;
  right: 30px;
  position: absolute;
  fill: #D9D9D9;
  stroke-width: 6px;
  stroke: #333333;
  transition: all 0.4s ease-out;
}

.Vector:hover
{
  transform: scale(1.1);
  cursor: pointer;
}

.Menu
{
  top: 80px;
  right: 0px;
  position: absolute;
  width: 240px;
  min-height: auto;
  flex-shrink: 0;
  background: #1F1F1F;
  display: none;
}

.Menu.open
{
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  display: block;
  z-index: 999;
}

.MenuBtn
{
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  width: 100%; 
  height: 80px;
  height: 104px;
  color: white;
  font-family: "Zen Maru Gothic";
  font-size: 24px;
  font-style: normal;
  line-height: 36px;
  min-height: 36px;
  letter-spacing: 1px;
  background: #1f1f1f;
  border: none; 
  transition: all 0.6s ease-out;
}

.MenuBtn:hover
{
  background: #333333;
  cursor: pointer;
}

h1
{
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  left: 50%;
  transform: translate(-50%);
  position: absolute;
  color: rgb(255, 255, 255);
  font-size: 26px;
  font-family: "Zen Maru Gothic";
  font-weight: 400;
  letter-spacing: 1px;
  cursor: default;
  white-space: nowrap;
}

.ModalLogin
{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 480px;
  height: 260px;
  position: absolute;
  background: #4a4a4a;
  box-shadow: 1px 1px 20px 5px rgba(0, 0, 0, 0.25);
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  border: 1px rgba(0, 0, 0, 0) solid;
  font-family: Zen Maru Gothic;
  cursor: default;
  white-space: nowrap;
}

.Login
{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 320px;
  height: 40px;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  font-family: Zen Maru Gothic;
  background: #4a4a4a;
  border: 1px #AAAAAA solid;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  text-align: center;
  font-size: 18px;
  line-height: 34px;
  cursor: text;
  letter-spacing: 1px;
  -webkit-text-fill-color: white;
  transition: all 0.4s ease-out;
}

.Login:hover
{
  border: 1px #FF5500 solid;
}

.CheckLogin, .CheckPassword1, .CheckPassword2
{
  display: none;
  cursor: pointer;
}

.CheckLogin
{
  position: absolute;
  top: 118px;
  right: 80px;
}

.ModalPassword
{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 480px;
  height: 260px;
  position: absolute;
  background: #4a4a4a;
  box-shadow: 1px 1px 20px 5px rgba(0, 0, 0, 0.25);
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  border: 1px rgba(0, 0, 0, 0) solid;
  font-family: Zen Maru Gothic;
  cursor: default;
  white-space: nowrap;
  display: none;
}

.Password1, .Password2
{
  position: absolute;
  left: 50%;
  width: 320px;
  height: 40px;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  font-family: Zen Maru Gothic;
  background: #4a4a4a;
  border: 1px #AAAAAA solid;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  text-align: center;
  color: white;
  font-size: 18px;
  line-height: 34px;
  cursor: text;
  letter-spacing: 1px;
  -webkit-text-fill-color: white;
  transition: all 0.4s ease-out;
}

.Password1:hover, .Password2:hover
{
  border: 1px #FF5500 solid;
}

.Password1
{
  top: 80px;
}

.CheckPassword1
{
  position: absolute;
  top: 68px;
  right: 80px;
}

.Password2
{
  bottom: 50px;
}

.CheckPassword2
{
  position: absolute;
  top: 155px;
  right: 80px;
}

.Help
{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  color: #FF5500CC;
  font-size: 14px;
  line-height: 36px;
  cursor: pointer;
  text-decoration: none;
}

.Error
{
  top: 20%;
  transform: translate(-50%, -50%);
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  width: 30%;
  left: 50%;
  position: absolute;
  text-align: center;
  color: #ff5500;
  font-size: 26px;
  font-family: "Zen Maru Gothic";
  font-weight: 400;
  letter-spacing: 1px;
  cursor: default;
}