body {
  margin: 0;
  padding: 0;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(45deg, #000000, #0c225f);
}

.container {
  background-color: rgba(119, 119, 119, 0.25);
  padding: 20px;
  border-radius: 25px;
  border: 2px solid #72a8ff;
  box-shadow: 0 0 30px #5075b1;
}

h1 {
  font-family: sans-serif;
  color: #ffffff;
  font-weight: lighter;
  text-align: center;
  padding-bottom: 20px;
  text-shadow: 1px 1px 10px #00000088;
  cursor: default;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fileName {
  outline: none;
  margin-bottom: 20px;
  padding: 6px;
  border: 2px solid #72a8ff;
  border-radius: 10px;
  font-size: 16px;
  background-color: #282d40;
  color: #ffffff;
  transition: all 0.25s ease-in-out;
  text-shadow: 1px 1px 10px #00000088;
}

.fileName:hover {
  box-shadow: 0 0 20px #5075b1;
  outline: #b67600;
  border-color: #b67600;
}

img {
  max-width: 100%;
  max-height: 400px;
  margin-top: 20px;
  border-radius: 20px;
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 0 0 20px #5075b1;
  display: none;
  cursor: pointer;
}

.btn {
  padding: 8px;
  font-family: sans-serif;
  color: #ffffff;
  background-color: #282d40;
  border: 2px solid #72a8ff;
  border-radius: 10px;
  margin-top: 20px;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
  text-shadow: 1px 1px 5px #00000088;
}

.btn:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 15px #5075b1;
}

#dropArea {
  color: #ffffff88;
  font-family: sans-serif;
  border: 2px dashed #ffffff88;
  padding: 40px;
  border-radius: 40px;
  text-align: center;
  cursor: help;
  text-shadow: 1px 1px 5px #00000088;
  transition: all 0.25s ease-in-out;
}

#dropArea:hover {
  box-shadow: 0px 0px 20px #5075b1;
}

#preview {
  max-width: 100%;
  max-height: 400px;
  margin-bottom: 20px;
  border: 2px dashed #ffffff88;
  display: block;
}
