<!DOCTYPE html>
<html lang="ru">
<head>
  {% load static %}
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" href="{% static 'css/auth.css' %}">
  <link rel="icon" href="{% static 'svg/logo.png' %}" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fotorum</title>
</head>
<body>
<div class="Navbar">
  <img class="Logo" src="{% static 'svg/logo.png' %}" />
  <h1>Авторизация</h1>
  <div class="Vector" id="menuButton">
    <img src="{% static 'svg/Vector.svg' %}" alt="Menu Icon">
  </div>
</div>
<div class="Modal">
  <input class="Login" placeholder="Введите логин" onfocus="removePlaceholder(this)" onblur="restoreLogin(this)">
  <input class="Password" type="password" placeholder="Введите пароль" onfocus="removePlaceholder(this)" onblur="restorePassword(this)">
  <div class="RememberPass">Запомнить пароль
    <img class="CheckCircle" src="{% static 'svg/check_circle.svg' %}" />
  </div>
  <div class="Enter">Войти</div>
  <div class="Help">Создать аккаунт</div>
</div>
<div class="Menu">
  <button name="Profile" class="MenuBtn" onclick="redirectToProfile()">Профиль</button>
  <button name="Feed" class="MenuBtn" onclick="redirectToFeed()">Лента</button>
  <button name="Upload" class="MenuBtn" onclick="redirectToUpload()">Загрузить</button>
  <button name="Support" class="MenuBtn" onclick="redirectToSupport()">Поддержка</button>
  <button name="Settings" class="MenuBtn" onclick="redirectToSettings()">Настройки</button>
  <button name="Auth" class="MenuBtn" onclick="redirectToAuth()">Вход</button>
</div>
<div class="Error"></div>
</body>
<script src="{% static 'js/auth.js' %}"></script>
</html>