<!DOCTYPE html>
<html lang="ru">
<head>
  {% load static %}
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" href="{% static 'css/Main.css' %}">
  <link rel="icon" href="{% static 'svg/logo.png' %}" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fotorum</title>
</head>
<body> 
<div class="Navbar">
    <a href="{% url 'index' %}">
    <img class="Logo" src="{% static 'svg/logo.png' %}" />
</a>
    <form method="post" action="{% url 'search_photos' %}" class="SearchForm">
    {% csrf_token %}
    <input class = "Search" name="search_query" placeholder="Поиск">
    </form>
    <div class="Vector" id="menuButton">
      <img src="{% static 'svg/Vector.svg' %}" alt="Menu Icon">
    </div>  
</div>
<div class="Menu">
    <button name="Profile" class="MenuBtn" onclick="redirectToProfile()">Профиль</button>
    <button name="Feed" class="MenuBtn" onclick="redirectToFeed()">Лента</button>

    <a href="{% url 'upload' %}"><button name="Upload" class="MenuBtn">Загрузить</button></a>
    <button name="Support" class="MenuBtn" onclick="redirectToSupport()">Поддержка</button>
    <button name="Settings" class="MenuBtn" onclick="redirectToSettings()">Настройки</button>
    <a href="{% url 'auth' %}"><button name="Auth" class="MenuBtn" onclick="redirectToAuth()">Вход</button></a>
</div>
<h1>Последние загруженные фотографии</h1>
<div class="Grid">
    {% for photo in photos %}
      <div class="Card">
        <img src="{{ photo.image.url }}" alt="Image">
        <!-- Добавьте здесь другие детали изображения, если необходимо -->
      </div>
    {% endfor %}
</div>
</body>
<script src="{% static 'js/Main.js' %}"></script>
</html>