<!DOCTYPE html>
<html lang="ru">
<head>
  {% load static %}
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" href="{% static 'css/post.css' %}">
  <link rel="icon" href="{% static 'svg/logo.png' %}" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fotorum</title>
</head>
<body>
<div class="Navbar">
  <img class="Logo" src="{% static 'svg/logo.png' %}" />
  <h1>Пост пользователя</h1>
  <div class="Vector" id="menuButton">
    <img src="{% static 'svg/Vector.svg' %}" alt="Menu Icon">
  </div>
</div>
<div class="Post"></div>
<div class="CommentBox">
  <div class="DivideBar"></div>
  <div class="ScrollBar"></div>
  <input class="EnterComment" placeholder="Напишите ваш комментарий..."></input>
</div>
<div class="IconBox">
  <div class="Views">
    <img src="{% static 'svg/views.svg' %}" alt="Menu Icon">
    <div class="ViewsCount">0</div>
  </div>
  <div class="Likes">
    <img src="{% static 'svg/likes.svg' %}" alt="Menu Icon">
    <div class="LikesCount">0</div>
  </div>
  <div class="Comments">
    <img src="{% static 'svg/comments.svg' %}" alt="Menu Icon">
    <div class="CommentsCount">0</div>
  </div>
  <div class="Share" id="share"><img src="{% static 'svg/share.svg' %}" alt="Menu Icon">
    <div class="ShareMenu">
      <div class="ContentCopy"><img src="{% static 'svg/content_copy.svg' %}" alt="Menu Icon"></div>
      <div class="Download"><img src="{% static 'svg/download.svg' %}" alt="Menu Icon"></div>
      </div>
  </div>
</div>
<div class="PostText">
  <div class="PostDate" id="Date">Дата поста</div>
  <div class="PostName" id="Name">Название поста</div>
  <div class="PostComments">Комментарии</div>
</div>
<div class="Menu">
  <a href="{% url 'profile' %}"><button name="Profile" class="MenuBtn">Профиль</button></a>
  <a href="{% url 'index' %}"><button name="Feed" class="MenuBtn">Лента</button></a>
  <a href="{% url 'upload' %}"><button name="Upload" class="MenuBtn">Загрузить</button></a>
  <a href="{% url 'support' %}"><button name="Support" class="MenuBtn">Поддержка</button></a>
  <a href="{% url 'settings' %}"><button name="Settings" class="MenuBtn">Настройки</button></a>
{% if user.is_authenticated %}
  <a href="{% url 'logout' %}"><button name="Logout" class="MenuBtn" >Выход</button></a>
{% else %}
  <a href="{% url 'auth' %}"><button name="Auth" class="MenuBtn" >Вход</button></a>
{% endif %}
</div>
</body>
<script src="{% static 'js/post.js' %}"></script>
</html>