<!DOCTYPE html>
<html lang="ru">
<head>
  {% load static %}
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" href="{% static 'css/register.css' %}">
  <link rel="icon" href="{% static 'svg/logo.png' %}" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fotorum</title>
</head>
<body>
<div class="Navbar">
  <img class="Logo" src="{% static 'svg/logo.png' %}" />
  <h1>Регистрация</h1>
  <div class="Vector" id="menuButton">
    <img src="{% static 'svg/Vector.svg' %}" alt="Menu Icon">
  </div>
</div>
<div class="ModalLogin">
  <input class="Login" id ="login" value="" autocomplete="off" placeholder="Придумайте логин" onfocus="removePlaceholder(this)" onblur="restoreLogin(this)">
    <img src="{% static 'svg/check.svg' %}" alt="check" class = "CheckLogin">
    <a href="{% url 'auth' %}" class="Help">Уже зарегистрированы?</a>
</div>
<div class="ModalPassword">
  <input class="Password1" type="password" autocomplete="new-password" id="pass" placeholder="Придумайте пароль" onfocus="removePlaceholder(this)" onblur="restorePassword1(this)">
    <img src="{% static 'svg/check.svg' %}" alt="check" class = "CheckPassword1">
  <input class="Password2" type="password" autocomplete="new-password" placeholder="Повторите пароль" onfocus="removePlaceholder(this)" onblur="restorePassword2(this)">
    <img src="{% static 'svg/check.svg' %}" alt="check" class = "CheckPassword2">
    <a href="{% url 'auth' %}" class="Help">Уже зарегистрированы?</a>
    <div class="Description">Пароль должен содержать как минимум 8 символов, хотя бы одну цифру, заглавную букву, специальный символ и не должен совпадать с логином.</div>
</div>
<div class="Menu">
  <a href="{% url 'profile' %}"><button name="Profile" class="MenuBtn">Профиль</button></a>
  <a href="{% url 'index' %}"><button name="Feed" class="MenuBtn">Лента</button></a>
  <a href="{% url 'upload' %}"><button name="Upload" class="MenuBtn">Загрузить</button></a>
  <a href="{% url 'support' %}"><button name="Support" class="MenuBtn">Поддержка</button></a>
  <a href="{% url 'settings' %}"><button name="Settings" class="MenuBtn">Настройки</button></a>
{% if user.is_authenticated %}
  <a href="{% url 'logout' %}"><button name="Logout" class="MenuBtn" >Выход</button></a>
{% else %}
  <a href="{% url 'auth' %}"><button name="Auth" class="MenuBtn" >Вход</button></a>
{% endif %}
</div>
<div class="Error"></div>
</body>
<script src="{% static 'js/register.js' %}"></script>
</html>